.sidebar {
  background-color: rgba(0, 0, 0, 0.562);
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 14rem;
  align-items: center;
  border-right: 2px solid black;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 1000px) {
  .sidebar {
    transform:translateX(-100%);
  }
}
